form(name="create", action="/api/c", method="post")
    div.form-group
        input(type="text", name="title" placeholder="Cdf title" value="Project #1")
    div.form-group
        input(type="text", name="pages" placeholder="Number of pages" value="20")
    div.form-group
        input(type="submit", value="Create")