form(name="create", action="/api/c", method="post")
    div.form-group
        input(type="text", name="title", placeholder="Cdf title", value="", autocomplete="off")
    div.form-group
        input(type="text", name="pages", placeholder="Number of pages", value="", autocomplete="off")
    div.form-group
        select(name='size')
            option(value=small) SMALL
            option(value=big) BIG
    div.form-group
        input(type="submit", value="Create")