if cdf
    div.tool_box
        ul
            li
                a(href='#', id='add', title='Add Page') Add
            li
                a(href='#', id='delete', title='Delete Page') Delete
            li
                a(href='#', id='color', title='Choose color') Color