article.vignette.page
    div.vignette_page
        div(class='carre editable' contenteditable='true')
        div.page_num #{left}
    div.vignette_page
        div(class='carre editable' contenteditable='true')
        div.page_num #{right}